/* General */
* {
  box-sizing: border-box;
}

:root {
  --purple-light-1: #62456A;
  --purple-light-2: #EFB0B2;
  --purple-medium-1: #FCFFE7;
  --purple-medium-2: #FCFFE7;
  --purple-medium-3: #FCFFE7;
  --purple-dark-1: #AC7898;
  --purple-dark-2: #EAC7C7;

  --yellow: #D99DAB;
  --green: #FCFFE7;
  --aqua: #D99DAB;
  --lightBlue: #EFB0B2;
  --darkBlue: #D99DAB;
  --red: #FCFFE7;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background-color: var(--purple-medium-3);
}

body {
  background-color: var(--purple-light-1);
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
  position: relative;
}


h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 24px;
  color: var(--purple-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--purple-medium-3);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--green);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--green);
  color: var(--purple-light-1);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--purple-light-1);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--purple-dark-1);
  border: none;
  color: var(--green);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

#languages {
  padding: 5px;
  position: absolute;
  right: 13px;
  top: 10px;
  border-radius: 10px;
  background-color: var(--purple-dark-1);
}

/* Shared */
.lange {
  background-color: var(--purple-light-2);
  width: 20px;
}

.header-container,
.trendingPreview-header,
.categoriesPreview-container,
.liked-header {
  padding: 0 24px;
}

.trendingPreview-container,
.categoriesPreview-container,
.liked-container,
footer {
  margin-top: 48px;
}

.trendingPreview-header,
.categoriesPreview-title,
.liked-header {
  margin-bottom: 24px;
}

.movie-container {
  cursor: pointer;
  position: relative;
}

.movie-container--loading {
  background: var(--purple-light-2);
  border-radius: 8px;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}

.movie-container--loading:nth-child(2) {
  animation-delay: .2s;
}

.movie-container--loading:nth-child(3) {
  animation-delay: .4s;
}

.movie-img {
  border-radius: 8px;
  min-height: 175px;
}

.movie-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  padding: 0;
  margin: 0;
}

.movie-btn::before {
  content: '🤍';
  /* font-size: 13px; */
}

.movie-btn--liked {
  background-color: var(--purple-light-2);
  box-shadow: 0px 0px 10px 2px var(--purple-dark-1);
}

.movie-btn--liked::before {
  content: '💜';
}

.categoriesPreview-list,
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.category-container--loading {
  background: var(--purple-light-2);
  border-radius: 8px;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}

.category-container--loading:nth-child(2) {
  animation-delay: .2s;
}


/* Header */
.header-container {
  padding-top: 40px;
}

.header-container--long {
  background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}

.header-title {
  margin-bottom: 16px;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}

.header-arrow--white {
  color: var(--purple-light-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* Trending */
.trendingPreview-header,
.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
}

.trendingPreview-movieList,
.liked-movieList {
  padding-left: 24px;
  padding-bottom: 16px;
  text-align: center;
  white-space: break-spaces;
  overflow-x: hidden;
}

.trendingPreview-movieList .movie-container,
.liked-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img,
.liked-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


/* Categories */
.category-container {
  width: 45%;
}

.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: '••••';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}

#id28 {
  --idColor: var(--yellow);
}

#id12 {
  --idColor: var(--red);
}

#id16 {
  --idColor: var(--green);
}

#id35 {
  --idColor: var(--lightBlue);
}

#id80 {
  --idColor: var(--darkBlue);
}

#id99 {
  --idColor: var(--purple-dark-1);
}

#id18 {
  --idColor: var(--purple-medium-1);
}

#id10751 {
  --idColor: var(--yellow);
}

#id14 {
  --idColor: var(--red);
}

#id36 {
  --idColor: var(--green);
}

#id27 {
  --idColor: var(--lightBlue);
}

#id10402 {
  --idColor: var(--darkBlue);
}

#id9648 {
  --idColor: var(--purple-dark-1);
}

#id10749 {
  --idColor: var(--purple-medium-1);
}

#id878 {
  --idColor: var(--yellow);
}

#id10770 {
  --idColor: var(--red);
}

#id53 {
  --idColor: var(--green);
}

#id10752 {
  --idColor: var(--lightBlue);
}

#id37 {
  --idColor: var(--darkBlue);
}


/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin: 10px;
}

.genericList-container .movie-img {
  width: 100%;
}


/* Movie Detail */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--purple-light-1);
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}

.movieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
  max-height: 225px;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-container--loading {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}


/* Footer */
footer {
  background-color: var(--purple-medium-3);
  color: var(--purple-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navigation */
.inactive {
  display: none !important;
}


/* Animations */
@keyframes loading-skeleton {

  0%,
  100% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
}

.modal-style {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;

  display: grid;
  place-items: center;

}

.modal__container {
  background-color: var(--purple-light-1);
  width: 70%;
  height: 20%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 100px;
}

.modal__container h2 {
  font-size: x-large;
}

.modal__container p {
  display: flex;
  margin: 20px;
  text-align: center;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-title1);
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-light-1);
  position: absolute;
  z-index: 3;

  animation: loader 2s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  95% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader div {
  background-color: var(--green);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin: 10px;

  transform: scale(0);

  animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0.2s;
}

.loader div:nth-child(2) {
  animation-delay: 0.4s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes scaling {

  0%,
  100% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.8);
  }
}

/* test */
.flex-nav {
  display: none;
}

/* Flex Container */
.flex-nav ul {
  border: 1px solid black;
  list-style: none;
  display: flex;
}

/* Flex Item */
.flex-nav li {
  flex: 3;
}


@media only screen and (min-width: 350px) and (max-width: 750px) {

  .flex-nav li {
    flex-basis: 100%;
  }

  /* Reorder items */
  .wrapper>* {
    order: 999;
  }

  /* Nav */
  .flex-nav {
    display: grid;
    padding: 20px;
  }

  a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    transform: scaleY(0);
    transition: all .2s ease-in-out;
    transform-origin: top;
    max-height: 0;
    flex-wrap: wrap;
  }

  .flex-nav ul.open {
    transform: scaleY(1);
    max-height: 560px;
    border: none;
    display: grid;
    grid-template-columns: 250px 250px;
    min-width: 350px;
  }

  /* Header */
  .top {
    order: 2;
  }

  /* Details */
  .details {
    order: 3;
  }

  /* Sign Up */
  .signup {
    order: 4;
  }

  .categoriesPreview-container {
    display: none;
  }

  .trendingPreview-container {
    margin-top: 0;
  }

  .trendingPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 260px;
    padding-left: 24px;
    padding-bottom: 16px;
  }

  .genericList-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 24px;
  }

  .genericList-container .movie-container {
    display: inline-block;
    width: 47.5%;
    padding-bottom: 10px;
  }

  .genericList-container .movie-img {
    width: 100%;
  }

}